<mat-toolbar color="primary">
    <mat-toolbar-row  fxLayoutAlign="space-between center">
        <div fxLayout="row-revers" fxLayoutAlign="space-around center" fxFlex="initial" style="margin: 10px;">
            <div>
                <span>Library Management System</span>
            </div>
            <div fxFlex="grow" style="margin: 10px;">
                <button mat-raised-button routerLink="./listbook">List Of Books</button>
                <button mat-raised-button routerLink="./test">Test</button>
            </div>
        </div>
        <div>
            <span style="padding-right: 4rem;">hi user</span>
            <button mat-button routerLink="/login"><mat-icon>exit_to_app</mat-icon></button>
        </div>
    </mat-toolbar-row>
    </mat-toolbar>
  <app-dashboard></app-dashboard>
  <!-- <router-outlet></router-outlet> -->

